.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.login-form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2c364c;
  width: 30%;
  height: 50%;
}

.website-logo {
  height: 40px;
  margin-bottom: 10px;
}

.each-input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
  color: white;
}

input {
  height: 35px;
  border: 1px solid white;
  background: none;
  outline: none;
  font-size: 15px;
  color: white;
  padding-left: 10px;
}

.err-msg {
  color: red;
}

.login-btn {
  width: 80%;
  color: white;
  height: 35px;
  border: 0px;
  background-color: #4f46e5;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .login-form-container {
    width: 80%;
  }
}
