.nav-main-container {
  background-color: #2c364c;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c364c;
  padding: 10px;
  list-style-type: none;
  margin: 0px;
  height: 10vh;
}

.logo-img {
  height: 40px;
  cursor: pointer;
}

.nav-link-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.link-item {
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: white;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: white;
  height: 35px;
  border: 0px;
  background-color: #4f46e5;
  padding: 5px;
  cursor: pointer;
}

.link-item-img {
  display: none;
}

.nav-item-text {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .logo-img {
    height: 30px;
  }

  .nav-item-text {
    display: none;
  }

  .link-item-img {
    display: block;
    font-size: 25px;
  }

  .nav-link-items-container {
    padding: 0px;
    width: 20vw;
    justify-content: space-around;
  }
}
