.job-details-main-container {
  background-color: #121212;
  height: auto;
  margin-top: 0px;
  padding: 20px;
  color: white;
}

.skills-list-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.each-skill-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  margin: 20px;
}

.skill-img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.life-at-company-desc-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.similar-jobs-list-container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failure-jobs-container {
  background-color: #121212;
}

.loader-container {
  height: 90vh;
  background-color: #121212;
}

.job-description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-website-url {
  font-size: 20px;
  color: #4f46e5;
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

.life-at-company-container img {
    border-radius: 20px;
  }

@media screen and (max-width: 768px) {
  .each-skill-list {
    width: 100px;
  }

  .skill-img {
    height: 30px;
    width: 30px;
  }

  .life-at-company-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .similar-jobs-list-container {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
